# Final Results

These are the final predictions from the pre-trained LSTM on the sentiment of product reviews scraped from a popular online outdoor retailer.

In [1]:
import pandas as pd
from glob import glob

In [2]:
file_paths = glob('data/reviews/sentiment/*.p')
print('\n'.join(file_paths))

data/reviews/sentiment/Marmot_sentiment.p
data/reviews/sentiment/Arc'teryx_sentiment.p
data/reviews/sentiment/The North Face_sentiment.p
data/reviews/sentiment/Patagonia_sentiment.p
data/reviews/sentiment/Outdoor Research_sentiment.p

### Marmot

In [18]:
df = pd.read_pickle(file_paths[0])
pos_m = df['Sentiment'].sum()
neg_m = len(df['Sentiment']) - pos_m
print(pos_m, "Positive Reviews")
print(neg_m, "Negative Reviews")

1372 Positive Reviews
620 Negative Reviews

In [19]:
df.loc[df['Sentiment'] == 0,'Sentiment'] = 'Neg'
df.loc[df['Sentiment'] == 1,'Sentiment'] = 'Pos'
df_grpd = df.groupby(['Sentiment','Rating'])['Rating'].agg('count')

In [20]:
df_grpd.unstack(level=0)

Sentiment  Neg  Pos
Rating
1.0         27    3
2.0         51   36
3.0         75   84
4.0        143  294
5.0        299  936

### Arc'teryx

In [21]:
df = pd.read_pickle(file_paths[1])
pos_a = df['Sentiment'].sum()
neg_a = len(df['Sentiment']) - pos_a
print(pos_a, "Positive Reviews")
print(neg_a, "Negative Reviews")

1161 Positive Reviews
514 Negative Reviews

In [22]:
df.loc[df['Sentiment'] == 0,'Sentiment'] = 'Neg'
df.loc[df['Sentiment'] == 1,'Sentiment'] = 'Pos'
df_grpd = df.groupby(['Sentiment','Rating'])['Rating'].agg('count')
df_grpd.unstack(level=0)

Sentiment  Neg  Pos
Rating
1.0         27   19
2.0         29   37
3.0         45   45
4.0        104  204
5.0        277  827

### The North Face

In [23]:
df = pd.read_pickle(file_paths[2])
pos_n = df['Sentiment'].sum()
neg_n = len(df['Sentiment']) - pos_n
print(pos_n, "Positive Reviews")
print(neg_n, "Negative Reviews")

1391 Positive Reviews
435 Negative Reviews

In [24]:
df.loc[df['Sentiment'] == 0,'Sentiment'] = 'Neg'
df.loc[df['Sentiment'] == 1,'Sentiment'] = 'Pos'
df_grpd = df.groupby(['Sentiment','Rating'])['Rating'].agg('count')
df_grpd.unstack(level=0)

Sentiment  Neg  Pos
Rating
1.0         33   18
2.0         43   38
3.0         55   72
4.0         89  276
5.0        203  972

### Patagonia

In [25]:
df = pd.read_pickle(file_paths[3])
pos_p = df['Sentiment'].sum()
neg_p = len(df['Sentiment']) - pos_p
print(pos_p, "Positive Reviews")
print(neg_p, "Negative Reviews")

3252 Positive Reviews
1203 Negative Reviews

In [26]:
df.loc[df['Sentiment'] == 0,'Sentiment'] = 'Neg'
df.loc[df['Sentiment'] == 1,'Sentiment'] = 'Pos'
df_grpd = df.groupby(['Sentiment','Rating'])['Rating'].agg('count')
df_grpd.unstack(level=0)

Sentiment  Neg   Pos
Rating
1.0         42    32
2.0         68    49
3.0        114   108
4.0        251   498
5.0        686  2509

### Outdoor Research

In [27]:
df = pd.read_pickle(file_paths[4])
pos_o = df['Sentiment'].sum()
neg_o = len(df['Sentiment']) - pos_o
print(pos_o, "Positive Reviews")
print(neg_o, "Negative Reviews")

969 Positive Reviews
492 Negative Reviews

In [28]:
df.loc[df['Sentiment'] == 0,'Sentiment'] = 'Neg'
df.loc[df['Sentiment'] == 1,'Sentiment'] = 'Pos'
df_grpd = df.groupby(['Sentiment','Rating'])['Rating'].agg('count')
df_grpd.unstack(level=0)

Sentiment  Neg  Pos
Rating
1.0         16    6
2.0         43   16
3.0         43   54
4.0        106  202
5.0        254  667

### Scoring

In [34]:
print('Marmot:           ', round(pos_m/(neg_m+pos_m),3) * 100, '% Positive Reviews')
print("Arc'teryx:        ", round(pos_a/(neg_a+pos_a),3) * 100, '% Positive Reviews')
print('The North Face:   ', round(pos_n/(neg_n+pos_n),3) * 100, '% Positive Reviews')
print('Patagonia:        ', round(pos_p/(neg_p+pos_p),3) * 100, '% Positive Reviews')
print('Outdoor Research: ', round(pos_o/(neg_o+pos_o),3) * 100, '% Positive Reviews')

Marmot:            68.9 % Positive Reviews
Arc'teryx:         69.3 % Positive Reviews
The North Face:    76.2 % Positive Reviews
Patagonia:         73.0 % Positive Reviews
Outdoor Research:  66.3 % Positive Reviews